* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(194, 194, 194))
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin-bottom: -20px;
}

h1 {
    font-size: 26px;
}

.stockContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
}

.chartContainer {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lineChart {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    /* border: 3px solid black; */
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    box-shadow: 3px 3px 5px gray;
}

.chartParameterContainer {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-between;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: #ffffff;
    color: #0053A6;
    border-color: #0053A6;
    font-family: 19px, 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 16px;
    border-radius: 11px;
    box-shadow: 3px 3px 5px gray;
}

.inputDescription {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 6px;
}

.inputAndButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#movAvgIntInput {
    background-color: #ffffff;
    color: #0053A6;
    border-color: #0053A6;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    width: fit-content;
    padding: 9px 16px;
    border-radius: 11px;
    margin-right: 10px;
}

#changeMovingAvgInt {
    background-color: #0053A6;
    color: #F5F9FC;
    border-color: #0053A6;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    width: fit-content;
    padding: 9px 16px;
    border-radius: 11px;
    border: 1px solid transparent;
    transition: 0.3s;
}

#changeMovingAvgInt:hover {
    filter: brightness(1.25)
}

.legendContainer {
    background-color: #ffffff;
    color: #0053A6;
    border-color: #0053A6;
    font-family:'IBM Plex Sans', sans-serif;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
    padding: 9px 16px;
    border-radius: 11px;
    box-shadow: 3px 3px 5px gray;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.legendEntryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.stockBox {
    border: 2px solid blue;
    width: 8px;
    height: 8px;
    background-color: blue;
    margin-left: 33px;
}

.movAvgBox {
    border: 2px solid red;
    width: 8px;
    height: 8px;
    background-color: red;
    margin-left: 15px;
}