* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(194, 194, 194))
}

.stockContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: left;
    width: 100%;
    max-width: 800px;
    padding: 20px 0 0 0;
}

h1 {
    font-size: 26px;
}

#lineChart {
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
}

.chartParameterContainer {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    box-shadow: 3px 3px 5px gray;
}

.inputDescription {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 6px;
}

.inputAndButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#movAvgIntInput, .inputContainer, #submitButton, .legendContainer {
    background-color: #ffffff;
    color: #0053A6;
    border-color: #0053A6;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
    padding: 9px 16px;
    border-radius: 11px;
    margin-right: 10px;
}

#submitButton {
    background-color: #0053A6;
    color: #ffffff;
    border: 1px solid transparent;
    transition: 0.3s;
}

#submitButton:hover {
    filter: brightness(1.35)
}

.legendContainer {
    font-size: 14px;
    margin-right: 0;
    box-shadow: 3px 3px 5px gray;
    width: fit-content;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.legendEntryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.stockBox {
    border: 2px solid blue;
    width: 8px;
    height: 8px;
    background-color: blue;
    margin-left: 18px;
}

.movAvgBox {
    border: 2px solid red;
    width: 8px;
    height: 8px;
    background-color: red;
    margin-right: 5px;
}