* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(195, 195, 195), white)


    /* background-color: rgb(48, 64, 64); */
}

.stockContainer {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
}

.chartContainer {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .fullChartContainer { */
    /* border: 2px solid rgb(0, 255, 0);
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: span 100px;
    grid-template-areas: 
        "a b"
        "c c";
    align-items: start; */
    /* width: 100%; */
/* } */

/* .chartYAxis {
    border: 2px solid red;
    grid-area: a;
    height: 100%;
    width: 30px;
} */

/* .lineChart {
    border: 2px solid red;
    grid-area: b;
} */
/* 
.chartXAxis {
    border: 2px solid rgb(60, 0, 255);
    grid-area: c; */
    /* width: 100%; */
    /* height: 30px; */
/* } */

#lineChart {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 10px auto;
    /* border: 3px solid black; */
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px gray;
}

.chartParameterContainer {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputContainer {
    display: flex;
}

#movAvgIntInput {
    width: 100px;
    height: 25px;
    border: 2px solid black;
    padding-left: 5px;
}

#changeMovingAvgInt {
    border: 2px solid black;
    background: rgb(166, 220, 220);
    padding: 5px;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.legendEntryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.stockBox {
    border: 2px solid blue;
    width: 7px;
    height: 7px;
    background-color: blue;
    margin-left: 20px;
}

.movAvgBox {
    border: 2px solid red;
    width: 7px;
    height: 7px;
    background-color: red;
    margin-right: 5px;
}